.topbar {
  position: fixed;
  z-index: 15;
  width: 100%;
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.nav {
  --br: 5px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding: 0.5rem;
  border-radius: var(--br);
  font-family: kanit, sans-serif;
  color: var(--type-light);
  position: relative;
  display: inline-block;

  --radius: 10px;
  --cmid: rgb(var(--c2));
  --cleft: rgb(var(--c1));
  --cright: rgb(var(--c4));

  transition: color 0.1s ease-out;

  &:hover:first-letter {
    color: var(--cleft);
  }

  &:after,
  &:before {
    --alpha: 0;
    --spread: 0;

    position: absolute;
    bottom: 0;
    left: 50%;

    width: 0;
    height: 2px;
    content: "";

    transition-property: width;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    box-shadow: -5px -5px var(--spread) rgba(var(--c1), var(--alpha)),
      5px 5px var(--spread) rgba(var(--c1), var(--alpha)),
      -5px 5px var(--spread) rgba(var(--c4), var(--alpha));
  }

  &:before {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    background-image: linear-gradient(to left, var(--cmid), var(--cleft));

    transform: translateX(-98%);
  }

  &:after {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    left: 48%;
    background: linear-gradient(to right, var(--cmid), var(--cright));
  }

  &:hover:after,
  &:hover:before {
    --alpha: 0.4;
    --spread: 7px;
    width: 50%;
  }
}
